<div id="button-container">
    @if (documentData) {
        <button class="title-button smoke" (click)="update()">Save</button>
        <button class="title-button smoke" (click)="remove()">Delete</button>
    } @else {
        <button class="title-button smoke" [disabled]="!documentOriginal" (click)="create()">Create</button>
    }
</div>
<div id="text-area-container">
    <ngx-codemirror
          [options]="options"
          [ngModel]="documentOriginal ? documentOriginal : {}"
          [disabled]="false"
          [autoFocus]="true"
          (ngModelChange)="handleChange($event)"
    />
</div>