
<div class="combo-container">
    <div class="combo-options" [ngClass]="status ? 'opened' : ''" #combo>
        <span class="combo-close" (click)="switchStatus()">X</span>
        <ol>
            @for (button of options; track $index) {
                <li>
                    <button class="combo-button" (click)="execute(button.funct, button.args)">
                        @if (button.icon != undefined) {
                            <span class="combo-icon">{{ button.icon }}</span>
                        }
                        {{ button.title }}
                    </button>
                </li>
            }
        </ol>
    </div>
    <button class="candies-button" (click)="switchStatus()">
        <div class="candy-button"></div>
        <div class="candy-button"></div>
        <div class="candy-button"></div>
    </button>
</div>
