@if(dataBases | async; as dataBases) {
    <div>
        <div class="table-title">
            <h3 class="title-text">Data Bases [{{dataBases.length}}]</h3>
            <div class="title-combo">
                <button class="title-button" (click)="openModal()">
                    <span class="plus-icon">+</span>
                </button>
            </div>
        </div>
        <div class="table-content" [ngClass]="{'empty': dataBases.length === 0}">
            @if (dataBases.length == 0) {
                <p style="text-align: center;">No data bases found.</p>
            } @else {
                <table class="table-base">
                    @for (dataBase of dataBases; track $index) {
                        <tr>
                            <td (click)="loadService(dataBase)">
                                <p class="light-link">{{dataBase}}</p>
                            </td>
                            <td class="combo-field">
                                <app-combo-selector [options]="[
                                {
                                    title: 'Remove', 
                                    callback: {func: remove.bind(this), args: [dataBase]}, 
                                    icon: {icon: '🗑'}
                                },
                                {
                                    title: 'View', 
                                    callback: {func: loadService.bind(this), args: [dataBase]}, 
                                    icon: {icon: '⇨'}
                                }
                                ]"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
}

<app-dialog-form 
    [widht]="'550px'"
    [height]="'250px'"
    [title]="'New DataBase'"
    [buttons]="[
        {title: 'Create', callback: {func: onSubmit.bind(this)}},
        {title: 'Close', callback: {func: closeModal.bind(this)}}
    ]"
    #form_dialog>
    <app-create-form [closeModal]="closeModal.bind(this)" [refreshData]="refreshData.bind(this)"/>
</app-dialog-form>