@if(collections | async; as collections) {
    <div>
        <div class="table-title">
            <h3 class="title-text">Collections [{{collections.length}}]</h3>
            <div class="title-combo">
                <button class="title-button" (click)="openModal()">
                    <span class="plus-icon">+</span>
                </button>
            </div>
        </div>
        <div class="table-content" [ngClass]="{'empty': collections.length === 0}">
            @if (collections.length == 0) {
                <p style="text-align: center;">No collections found.</p>
            } @else {
                <table class="table-base">
                    @for (collection of collections; track $index) {
                        <tr>
                            <td (click)="loadCollection(collection)">
                                <p class="light-link">{{collection}}</p>
                            </td>
                            <td class="combo-field">
                                <app-combo-selector [options]="[
                                {
                                    title: 'Remove', 
                                    callback: {func: remove.bind(this), args: [collection]}, 
                                    icon: {icon: '🗑'}
                                },
                                {
                                    title: 'View', 
                                    callback: {func: loadCollection.bind(this), args: [collection]}, 
                                    icon: {icon: '⤇'}
                                },
                                {
                                    title: 'Export JSON', 
                                    callback: {func: exportJson.bind(this), args: [collection]}, 
                                    icon: {icon: '🖫'}
                                }
                                ]"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
}

<app-dialog-form 
    [widht]="'550px'"
    [height]="'250px'"
    [title]="'New DataBase'"
    [buttons]="[
        {title: 'Create', callback: {func: onSubmit.bind(this)}},
        {title: 'Close', callback: {func: closeModal.bind(this)}}]"
    #form_dialog>
</app-dialog-form>