@if(services | async; as services) {
    <div>
        <div class="table-title">
            <h3 class="title-text">Services [{{services.services.length}}]</h3>
            <div class="title-combo">
                <button class="title-button" (click)="openModal()">
                    <span class="plus-icon">+</span>
                </button>
            </div>
        </div>
        <div class="table-content" [ngClass]="{'empty': services.services.length === 0}">
            @if (services.services.length == 0) {
                <p style="text-align: center;">No services found.</p>
            } @else {
                <table class="table-base">
                    @for (service of services.services; track $index) {
                        <tr>
                            <td>
                                <a class="trade-mark" href="{{service.category.resources.web_site}}" target="_blank" [ngStyle]="{'color': service.category.resources.color}">
                                    <img class="db-logo" src="{{service.category.resources.image}}" alt="Logo of {{service.category.category}}">
                                    <span class="db-title">{{service.category.category}}</span>
                                </a>
                            </td>
                            <td>{{service.name}}</td>
                            <td>
                                <app-combo-selector [options]="[
                                    {title: 'Remove', funct: remove.bind(this), args: service.name}
                                ]"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
}

<app-dialog-form 
    [widht]="'550px'"
    [height]="'375px'"
    [title]="'New Service'"
    [buttons]="[
        {'title': 'Submit', 'funct': onSubmit.bind(this)},
        {'title': 'Close', 'funct': closeModal.bind(this)}
    ]">
    <app-service-form [closeModal]="closeModal.bind(this)" [refreshData]="refreshServices.bind(this)"/>
</app-dialog-form>