@if(services | async; as services) {
    <div>
        <div class="table-title">
            <h3 class="title-text">Services [{{services.services.length}}]</h3>
            <div class="title-combo">
                <button class="title-button" (click)="openPublishModal()">
                    <span class="plus-icon">+</span>
                </button>
            </div>
        </div>
        <div class="table-content" [ngClass]="{'empty': services.services.length === 0}">
            @if (services.services.length == 0) {
                <p style="text-align: center;">No services found.</p>
            } @else {
                <table class="table-base">
                    @for (service of services.services; track $index) {
                        <tr>
                            <td>
                                <a class="trade-mark" href="{{service.category.resources.web_site}}" target="_blank" [ngStyle]="{'color': service.category.resources.color}">
                                    <img class="db-logo" src="{{service.category.resources.image}}" alt="Logo of {{service.category.category}}">
                                    <span class="db-title">{{service.category.category}}</span>
                                </a>
                            </td>
                            <td [routerLink]="['/data-base', service.name]">
                                {{service.name}}
                            </td>
                            <td>
                                <app-combo-selector [options]="[
                                    {
                                        title: 'Remove', 
                                        callback: {func: remove.bind(this), args: service.name}, 
                                        icon: {icon: '🗑', color: 'crimson'}
                                    }
                                ]"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
}

<app-dialog-form 
    [widht]="'550px'"
    [height]="'375px'"
    [title]="'New Service'"
    [buttons]="[
        {title: 'Publish', callback: {func: onPublish.bind(this)}},
        {title: 'Close', callback: {func: closePublishModal.bind(this)}}
    ]"
    #publish_dialog>
    <app-publish-form [closeModal]="closePublishModal.bind(this)" [refreshData]="refreshServices.bind(this)"/>
</app-dialog-form>

<app-dialog-form 
    [widht]="'550px'"
    [height]="'325px'"
    [title]="'Suscribe Service'"
    [buttons]="[
        {title: 'Suscribe', callback: {func: onSuscribe.bind(this)}},
        {title: 'Close', 'callback': {func: closeSuscribeModal.bind(this)}}
    ]"
    #suscribe_dialog>
    <app-suscribe-form [closeModal]="closeSuscribeModal.bind(this)" [pointer]="suscribePointer" [next]="suscribeNext"/>
</app-dialog-form>